<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.matrix.autoreply">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <queries>

        <!-- Specific apps Autoreply interacts with. Required for Android 11+ -->
        <package android:name="com.whatsapp"/>
        <package android:name="com.facebook.orca"/>
    </queries>

    <application
            android:name=".AutoReplyApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.WaReply">

        <activity
                android:name="com.matrix.autoreply.ui.activity.TabbedActivity"
                android:label="@string/title_activity_tabbed"
                android:exported="true"
                android:theme="@style/Theme.WaReply.NoActionBar"/>
        <activity
                android:name="com.matrix.autoreply.ui.activity.SplashActivity"
                android:exported="true"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.matrix.autoreply.ui.activity.replyEditor.CustomReplyEditorActivity"
                android:label="@string/mainAutoReplyLabel"
                android:exported="true"
                android:parentActivityName="com.matrix.autoreply.ui.activity.TabbedActivity">
            <intent-filter android:label="global-auto-reply-message-intent">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="auto-reply"
                        android:scheme="autoreply"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.matrix.autoreply.ui.activity.settings.SettingsActivity"
                android:label="@string/settings"
                android:exported="true"
                android:parentActivityName="com.matrix.autoreply.ui.activity.TabbedActivity"/>
        <activity
                android:name="com.matrix.autoreply.ui.activity.notification.NotificationIntentActivity"
                android:launchMode="singleTop"/>

        <service
                android:name=".services.ForegroundNotificationService"
                android:label="@string/service_name"
                android:exported="true"
                android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service
                android:name=".services.KeepAliveService"
                android:stopWithTask="false"/> <!-- https://techstop.github.io/android-broadcastreceiver/ -->
        <receiver
                android:name=".receivers.NotificationServiceRestartReceiver"
                android:enabled="true"
                android:exported="true"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <!-- For HTC devices -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <activity android:name="com.matrix.autoreply.ui.activity.logsViewer.MsgLogViewerActivity"/>
    </application>

</manifest>